.overlay-container {
    position:fixed;
    top: 35%;
    left: 25%;
    width: 55%;
    height: 25%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it appears on top of everything */
}
.alert-box,.confirmation-box {
    background-color: #fff; /* White background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Drop shadow effect */
    text-align: center;
    max-width: 55%;
}
.message {
    font-size: 18px;
    color: #333; /* Dark gray text color */
    margin-bottom: 10px;
}
.remove {
    background-color: #b97d7d; /* Light gray background */
    color: #0f0f0f; /* Dark gray text color */
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 35%;
    margin-right: 10px;
}

.remove:hover {
    background-color: #f73737; /* Slightly darker gray on hover */
}
.remove:checked {
    background-color: #f70202; /* Slightly darker gray on hover */
    display: none;
}
.keep {
    background-color: #71c43a; /* Light gray background */
    color: #0f0f0f; /* Dark gray text color */
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 35%;
}

.keep:hover {
    background-color: #1eff1e; /* Slightly darker gray on hover */
}
.keep:checked {
    background-color: #2bf702; /* Slightly darker gray on hover */
    display: none;
}

@media screen and (max-width: 1400px) {
.overlay-container {
    top: 25%;
    left: 10%;
    width: 65%;
    height: 35%;
    justify-content: center;
    background: transparent;
    align-items: center;
    z-index: 9999; /* Ensure it appears on top of everything */
}
.alert-box,.confirmation-box {
    background-color: #ffffff; /* White background */
    padding: 7px;
    border-radius: 10px;
    text-align: center;
    max-width: 85%;
}
.message {
    font-size: 18px;
    color: #333; /* Dark gray text color */
    margin-bottom: 10px;
}
.remove {
    background-color: #b97d7d; /* Light gray background */
    color: #0f0f0f; /* Dark gray text color */
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 35%;
    margin-right: 10px;
    border: 2px solid #000;
}

.remove:hover {
    background-color: #f73737; /* Slightly darker gray on hover */
}
.remove:checked {
    background-color: #f70202; /* Slightly darker gray on hover */
    display: none;
}
.keep {
    background-color: #71c43a; /* Light gray background */
    color: #0f0f0f; /* Dark gray text color */
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 35%;
    border: 2px solid #000;
}

.keep:hover {
    background-color: #1eff1e; /* Slightly darker gray on hover */
}
.keep:checked {
    background-color: #2bf702; /* Slightly darker gray on hover */
    display: none;
}

}