/* Viewport settings */
@viewport {
  width: device-width;
  initial-scale: 1;
}

/* General styles */
body {
  background-color: #a4f5b9;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.container-background {
  background-color: #DA746F;
  min-height: 100vh;
  z-index: 1;
}

.pages {
  color: #316685;
  text-align: center;
  font-size: 3.5rem;
  margin-top: 10%;
}

/* Keyframes */
@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Form and Input Styles */
.Form,
Fieldset {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  line-height: 25px;
  margin: 0 auto;
  padding-top: 15px;
}

.btn {
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  background-color: #4CAF50; /* Add background color for better visibility */
  color: #fff; /* Add text color */
  padding: 10px 20px; /* Add padding for better touch interaction */
}

button:disabled {
  background-color: #a1a1a1;
  font-style: italic;
}

button {
  width: 100%; /* Make button width full */
}

label {
  margin-right: 10px;
  padding: 5px;
  font-weight: bold;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #000;
  font-size: 16px;
}

/* Typography */
h2 {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 2rem; /* Adjust font size for smaller screens */
  font-weight: bold;
  border-right: none; /* Remove border */
}

.message {
  font-size: 14px; /* Adjust font size for smaller screens */
  margin-top: 20px;
  color: #ff0000;
}

.username,
.App, .titlename {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

/* Logo Styles */
.logo1,
.logo2 {
  width: 50px; /* Decrease size for smaller screens */
  height: auto;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* Footer Styles */
.footer-content {
  background-color: #09459D;
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.logo {
  width: 75px;
  height: auto;
}

.footertext {
  margin-top: 10px;
  font-size: 14px; /* Adjust font size for smaller screens */
}
.container-tracker{
  margin: 100px auto;
  width: 30vw;
  height: auto;
  display: flex;
  flex-direction:column-reverse;
}
button{
  width: 10vw;
  margin-top: 100px;
}
.jobadd{
  margin-top: 60px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  fadeIn: 6s;
}
@media screen and (max-width: 1400px) {
  .nav-container {
    flex-direction: column; /* Change flex direction for stacking elements */
    align-items: flex-start; /* Align items to the start (left) */
    position: relative;
    display: flex; /* Ensure relative positioning for absolute children */
  }
  .button{
    width: 100vw;
    height: 6vh;
  }
  .title{
    font-size: 12px;
    width: 40vw;
  }
  form{
    width: 40vw;
  }
  .action{
    width: 20vw;
  }
  td{
    width: 35vw;
  }
}