/* General styles */
.navbar {
  background-color: #09459D;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
}

.nav-container {
  display: flex;
  justify-content: flex-start; /* Align items to the start (left) */
  align-items: center;
  width: 90%;
  max-width: 1500px;
  position: relative;
}

.nav-logo,.nav-logo img {
  color: #f5b921;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  width: 8vw;
  margin-bottom: 20px;
  margin: 0; 

}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute; /* Adjust the top position to keep tabs at the top of the navbar */
  left: 45%; /* Center the tabs horizontally */
  transform: translateX(-50%);
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-bottom: 3px solid transparent;
  margin-right: 1rem; /* Add margin between tabs */
}

.nav-item {
  margin-right: 1rem;
}

.nav-item:last-child {
  margin-right: 0; /* Remove margin from the last item */
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #DA746F;
}

.nav-item .active {
  color: #DA746F;
  border: none;
}

.nav-icon {
  display: none;
  color: #f5b921;
}

/* Media query for mobile responsiveness */
@media screen and (max-width: 960px) {
  .nav-logo {
    display: flex;
    color: #f5b921;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    margin-left: 55px; /* Adjust as needed */
    max-width: 100%;
    height: auto;
  }

  img {
    max-width: 25%;
    height: auto;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -110%;
    background: #09459D;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1; /* Ensure menu is above other content */
  }

  .nav-menu.active {
    left: 0px;
  }

  .nav-links {
    padding: 1.5rem;
    width: 100%;
    text-align: left; /* Adjust alignment for smaller screens */
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(-100%, -50%);
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    color: #ffdd40;
  }
}