/* General styles */
.navbar {
  background-color: #09459D;
  height: 80px;
  justify-content: space-between;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
}

.nav-container {
  justify-content: flex-start; /* Align items to the start (left) */
  align-items: center;
  width: 90%;
  max-width: 1500px;
  position: fixed;
}

.nav-logo,.nav-logo img {
  color: #f5b921;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  width: 8vw;
  margin-bottom: 20px;
  margin: 0; 

}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute; /* Adjust the top position to keep tabs at the top of the navbar */
  left: 45%; /* Center the tabs horizontally */
  transform: translateX(-50%);
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-bottom: 3px solid transparent;
  margin-right: 1rem; /* Add margin between tabs */
}

.nav-item {
  margin-right: 0rem;
}

.nav-item:last-child {
  margin-right: 0; /* Remove margin from the last item */
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #DA746F;
}

.nav-item .active {
  color: #DA746F;
  border: none;
}

.nav-icon {
  display: none;
  color: #f5b921;
}

/* Media query for mobile responsiveness */
@media screen and (max-width: 100px) {
  .nav-container {
    flex-direction: column; /* Change flex direction for stacking elements */
    align-items: flex-start; /* Align items to the start (left) */
    position: relative;
    display: flex; /* Ensure relative positioning for absolute children */
  }

  .nav-menu {
    display: none; /* Hide the menu by default */
    position: absolute; /* Position absolutely within the navbar container */
    top: 80px; /* Adjust as needed based on navbar height */
    left: 0;
    width: 100%;
    background: #09459D; /* Keep the original navbar background */
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-menu.active {
    display: flex; /* Show the menu when active */
    flex-direction: column;
  }

  .nav-links {
    color: #fff; /* Add text color */
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-bottom: 3px solid transparent;
    margin-right: 1rem;
    width: 100%; /* Make sure links take up full width */
    text-align: right; /* Adjust alignment for smaller screens */
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(-100%, -50%);
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    color: #ffdd40;
  }
}